// Color Pallete

$primary-color: #203348;
$primary-grey: #393e46;
$primary-black: #222831;
$primary-border-color: #eeeeee;
$primary-white: white;
$primary-red: red;
$border-color-grey: #ebebeb;

$primary-blue: #203348;
$border-color: #dadada;
$primary-teal-color: #058593;

$input_bacground_color: #fafafa;
