// Color Pallete 🖌

@import "../../../../../styles/ColorScheme.scss";

///////////////////////////////////////////

.invalid {
  border: 1px solid $primary-red;
  margin-top: 10px;
}

.margin {
  margin-bottom: 10px;
}
