// Color Pallete 🖌

@import "../../../../styles/ColorScheme.scss";

///////////////////////////////////////////

.collection-tabs-wrapper {
  margin: 20px 0px;

  .ant-tabs-nav {
    margin-top: 30px;
    text-transform: capitalize;
    .ant-tabs-nav-wrap {
      align-items: center;
      justify-content: end;
      display: flex;
    }
    .ant-tabs-nav-operations {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .collection-tabs-wrapper .collection-tabs .ui.text.menu .item {
    padding: 16px 7px;
  }
}

@media (max-width: 426px) {
  .collection-tabs-wrapper {
    .ant-tabs-nav {
      .ant-tabs-nav-wrap {
        justify-content: center !important;
        display: flex;
      }
    }

    .collection-name {
      text-align: center;
    }
  }
}
