// Color Pallete 🖌

@import "../../styles/ColorScheme.scss";

///////////////////////////////////////////

.password-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    button.ui.button {
      background-color: $primary-color;
      color: $primary-white;
    }
  }
}

.error-message {
  color: $primary-red;
  display: none;
}
