// Color Pallete 🖌

@import "../../styles/ColorScheme.scss";

///////////////////////////////////////////

.ant-modal {
  width: 850px !important;
}

.sizechart-container {
  table {
    width: 100%;

    td {
      padding-left: 20px;
    }
  }
}
